:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --background: #222;
    --text-color: #fff;
    --primary-color: #444;
    --secondary-color: #cebf7b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
}

#app {
    margin-top: 300px;
    display: flex;
    justify-content: center;
    font-family: 'Signika';
}

.card {
    position: relative;
    border: 1px solid var(--secondary-color);
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.4);
}

.card .card--id {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--secondary-color);
    padding: 5px 15px 5px 15px;
    border-radius: 10px 0 10px 0;
    margin-top: -1px;
    margin-left: -1px;
}

.card .card--name {
    text-align: center;
}

.card .card--image {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.card .card--details {
    color: var(--secondary-color);
}