* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

:root {
    font-family: 'Roboto', sans-serif;
    --color-background: #ddd;
    --color-primary: #eee;
    --color-secondary: red;
    --color-text: #222;
    --box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

body {
    background-color: var(--color-background);
}

#todo-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    justify-content: center;
    width: 300px;
}

#todo-list {
    color: var(--color-text);
    background: var(--color-primary);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.todo-list--item {
    margin-left: 20px;
    font-size: large;
    border-bottom: 1px solid var(--color-background);
    padding: 20px 0;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

.todo-list--item:last-child {
    border-bottom: none;
}

.todo-list--item input[type="checkbox"] {
    margin-left: 5px;
}

.todo-list--item-delete {
    color: rgb(250, 46, 46);
    border: none;
}

.todo-list--item-delete:hover {
    cursor: pointer;
}

#todo-add {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#todo-add input[type="text"] {
    width: 210px;
    border: none;
    box-shadow: var(--box-shadow);
    padding-left: 20px;
}

#todo-add button {
    font-family: 'Roboto';
    font-weight: bold;
    width: 80px;
    height: 30px;
    box-shadow: var(--box-shadow);
    border: none;
    color: var(--color-text);
    background-color: rgb(95, 166, 248);
}

#todo-add button:hover {
    cursor: pointer;
}

.isDone {
    text-decoration: line-through;
}